*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Базовый шрифт*/
body{
	font-family: Google Sans, sans-serif;
	background-color: #ffffff;
}
/*Header*/
.header{
	width: 100%;
	padding: 20px 0;
	position: fixed;
	top: 0;
	background-color: #ffffff;
	z-index: 999;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__logo{
	font-size: 24px;
}
.header__menu{
	list-style: none;
	display: flex;
	gap: 30px;
}
.header__menu li a {
	text-decoration: none;
	color: #333e4e ;
	font-weight: 500;
	transition: color 0.3s ease;
}
.header__menu li a:hover {
	color: #020203;
	text-decoration: underline;
}
.header__btn{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.header__btn_signup{
	padding: 10px 20px;
	background-color: transparent;
	color: black;
	border-radius: 5px;
	text-decoration: none;
	font-weight: 500;
	transition: background-color 0.3s ease;
}
.header__btn_signup:hover{
	background-color: #46556b;
	color: white;
}

.header__btn_language{
	padding: 5px 10px;
	color: black;
	border: none;
	outline: none;
	font-weight: 500;
	transition: background-color 0.3s ease;
	background: transparent;
}
.header__btn_language:focus{
	border: none;
	outline: none;
}
.header__btn_language:active{
	border: none;
	outline: none;
}
/*Hero Section*/
.hero-section{
	width: 100%;
	min-height: 1020px;
	padding: 120px 5%;
	display: flex;
	align-items:center;
	justify-content: space-around;
	background-color: #f0f8ff;
	position: relative;
}
.hero-section-left{
	max-width: 600px;
}
.hero-title-top{
	font-family: "Poppins", serif;
	color:#DF6951;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.hero-title{
	font-family: 'Volknov', serif;
	font-size: 84px;
	color:#181E4B;
	font-weight: bold;
	line-height: 89px;
	margin-bottom: 20px;
}
.hero-title .highlight{
	position: relative;
	font-weight: bold;
	display: inline-block;
}
.hero-title .highlight::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Толщина подчеркивания */
  background: #ff6347; /* Цвет подчеркивания */
  transform: rotate(2deg); /* Легкий наклон для кистевого эффекта */
  filter: blur(1px); /* Легкая размазанность для кисти */
}
.hero-description{
	font-family: 'Poppins', serif;
	font-size: 16px;
	color:#5E6282;
	margin-bottom: 30px;
	line-height: 30px;

}
.hero-btns-container{
	display: flex;
	gap: 30px;
}
.hero-btn{
	width: 170px;
	height: 60px;
	background-color: #F1A501;
	color: #ffffff;
	border-radius: 10px;
	border: none;
	font-size: 18px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.hero-btn:hover{
	background-color: #ffae00;
	color: #ffffff;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.hero-play-btn{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #DF6951;
	border: none;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.hero-play-btn:hover{
	background-color: #ffae00;
	color: #ffffff;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.hero-play-text{
	font-family: 'Poppins', serif;
	font-size: 16px;
	color:#5E6282;
	margin-left: 10px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.hero-section-right{
	position: relative;
}
.hero-image-main{
	width: 765px;
	height: 764px;
	max-width: 100%;
}
.hero-image-plane-1,
.hero-image-plane-2{
	position: absolute;
	width: 200px;
}
.hero-image-plane-1{
	top: 20px;
	left: 0px;
	animation: plane-animation-arc 8s ease-in-out infinite;
}
.hero-image-plane-2{
	bottom: 100px; 
	right: 0px;
	animation: plane-animation-arc 12s ease-in-out infinite;
}
@keyframes plane-animation-arc{
0%{
	transform:translateX(0) translateY(0) rotate(0deg);
}25%{
	transform:translateX(30px) translateY(-20px) rotate(10deg);
}50%{
	transform: translateX(60px) translateY(0px) rotate(0deg);
}75%{
	transform:translateX(30px) translateY(20px) rotate(-10deg);
}
100%{
	transform:translateX(0) translateY(0) rotate()
}
}

/*our services section*/
.services-section{
	padding: 100px 20px;
	text-align: center;
	background-color: #fff;
}

.services-subtitle{
	font-family: "Poppins", serif;
	font-size: 18px;
	font-weight: 600;
	color:#5E6282;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.services-title{
	font-family: 'Volknov', serif;
	font-size: 50px;
	color:#14183E;
	font-weight: bold;
	line-height: 50px;
	margin-bottom: 30px;
}
.services-cards-container{
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 50px;
	flex-wrap: wrap;

}
.service-card{
  background-color: #fff;
  width: 235px;
	height: 351px;
  padding: 40px 25px;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  text-align: left;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-bottom: 30px;
}
.service-card:hover{
	transform:translateY(-10px);
	box-shadow: 0 30px 60px rgba(241, 165, 1, 0.3);
	background-color: #fffaf0;
}
.service-icon {
  width: 90px;
  height: 90px;
  margin-bottom: 25px;
}
.service-title {
  font-size: 18px;
  font-weight: 600;
  color: #1E1D4C;
  margin-bottom: 15px;
}
.service-description {
	font-family: "Poppins", serif;
	font-size: 14px;
	color: #5E6282;
	line-height: 20px;
	margin-bottom: 20px;
}
/*Destinations Section*/
.destination-section{
	padding: 100px 20px;
	text-align: center;
	background-color: #fff;
	padding: 80px 20px;
	gap: 40px;
	flex-wrap: wrap;
}
.destination-subtitle{
	font-family: "Poppins", serif;
	font-size: 18px;
	font-weight: 600;
	color:#5E6282;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.destination-title{
	font-family: 'Volknov', serif;
	font-size: 50px;
	color:#14183E;
	font-weight: bold;
	line-height: 50px;
	margin-bottom: 40px;
}
.destinations-cards-container{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	flex-wrap: wrap;
}
.destination-card{
	background-color: #fff;
	width: 315px;
	height: 457px;
	padding: 0px 0px 40px 0px;
	border-radius: 24px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	position: relative;

	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: space-around;
	height: 100%;

	margin-bottom: 20px;
}
.destination-card:hover{
	transform:translateY(-10px);
	box-shadow: 0px 30px 60px rgba(255, 174, 1, 0.648);
	background-color: #fffaf0;
}
.destination-card-title{
	font-family: "Poppins", serif;
	font-size: 18px;
	font-weight: 600;
	color:#5E6282;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.destination-image {
	width: 100%;
	height: 200px;
	border-radius: 24px 24px 0 0;
	margin-bottom: 20px;
	object-fit: cover;
}
.destination-card-title,
.destination-card-price,
.destination-card-duration{
	font-family: "Poppins", serif;
	font-size: 16px;
	font-weight: 400;
	color:#5E6282;
	margin: 10px 20px 0px 20px;
}
.destination-card-title{
	margin-top: 10px;
}
.destination-card-price{
	align-self: flex-end;
	padding-left: 10px;
}
.destination-card-duration{
	display: flex;
  align-items: center;
  color: #5E6282;
  font-size: 14px;
  margin-top: auto;
}
.destination-card-info{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
}
/*Travel Points Section*/
.travel-points-section{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0px 60px;
	flex-wrap: wrap;
}
.travel-points-section-left,
.travel-points-section-right {	padding: 20px;
}

.travel-point-subtitle{
	font-family: 'Poppins', serif;
	font-size: 18px;
	color: #5E6282;
	font-weight: 500;
	margin-bottom: 5px;
}
.travel-point-title{
	font-family: 'Volknov', serif;
	font-size: 50px;
	color: #14183E;
	font-weight: bold;
	line-height: 50px;
	margin-bottom: 30px;
}
.travel-point-steps{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	margin-bottom: 40px;
}
.travel-point-steps img{
	width: 48px;
	height: 48px;
	object-fit: contain;
}
.travel-point-step-info{
	max-width: 400px;
}
.travel-point-step-title{
	font-family: 'Poppins', serif;
	font-size: 16px;
	color: #5E6282;
	font-weight: bold;
	margin-bottom: 5px;
}
.travel-point-step-description{
	font-family: 'Poppins', serif;
	font-size: 16px;
	color: #5E6282;
}
.trip-card-container{
	background-color: #fff;
	border-radius: 24px;
	box-shadow: 0px 20px 40px rgba(89,177,230, 0.5);
	width: 370px;
	height: 400px;
	padding: 20px;
	display: flex;
	flex-direction: column;

}
.travel-point-card-image{
	width: 100%;
	height: 161px;
	border-radius: 16px;
	object-fit: cover;
	margin-bottom: 20px;
}
.trip-card-content{
	display: flex;
	flex-direction: column;
}
.trip-card-title{
	font-family: 'Poppins', serif;
	font-size: 18px;
	font-weight: 500;
	color: #080809;
	margin-bottom: 10px;
}
.trip-card-dates{
	font-family: 'Poppins', serif;
	font-size: 14px;
	color: #84829A;
	margin-bottom: 10px;
}
.trip-card-icons{
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}
.trip-card-icon{
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 18px;
	width: 36px;
	height: 36px;
	color: #84829A;
	border: 1.5px solid #f5f5f5;
	border-radius: 50%;
	background-color: #f5f5f5;
}
.trip-ticket-bought{
	display: flex;
	align-items: center;
	gap: 8px;

	font-family: 'Poppins', serif;
	font-size: 14px;
	color: #84829A;
	margin-bottom: 10px;
}
/*Testimonials Section*/
.testimonials-section{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 20px 100px;
	gap: 40px;
	background-color: #fff;
}
.testimonials-section-left,
.testimonials-section-right{
	padding: 20px;
}
.testimonials-section-left{
	max-width: 400px;
}
.testimonials-subtitle{
	font-family: 'Poppins', serif;
	font-size: 18px;
	color: #5E6282;
	font-weight: 500;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;

}
.testimonials-title{
	font-family: 'Volknov', serif;
	font-size: 50px;
	color: #14183E;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 40px;
	width: 400px;
}
.testimonial-dots{
	display: flex;
	gap:10px;
}
.dot{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #cfcfcf;
	transition: background-color 0.3s ease;
}
.dot.active{
	background-color: #39425D;
}
.testimonials-section-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 700px;
  gap: 20px;
	position: relative;
}
.testimonial-card-img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 20px;
	border: 4px solid white;
}
.testimonial-card-info{
	flex: 1;
	padding-left: 100px;
}
.testimonial-card-description{
	font-family: 'Poppins', serif;
	font-size: 16px;
	color: #5E6282;
	margin-bottom: 20px;
}
.testimonial-card-name{
	font-family: 'Poppins', serif;
	font-size: 18px;
	color: #5E6282;
	font-weight: 600;
	margin-bottom: 5px;
}
.testimonial-card-city{
	font-family: 'Poppins', serif;
	font-size: 14px;
	color: #5E6282;
	font-weight: 400;
}
.testimonial-card-arrows{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 30px;
}
.testimonial-arrow-left,
.testimonial-arrow-right{
	border: none;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}
.testimonial-arrow-left:hover,
.testimonial-arrow-right:hover{
	background: #c0c0c0;
}

@media (max-width: 768px) {
	.testimonials-section{
		flex-direction: column;
		padding: 0px 20px;
	}
	.testimonials-section-right{
		max-width: 100%;
	}
	.testimonials-section-left{
		max-width: 100%;
	}
}
/*Sponsors Section*/
.sponsors-section{
	overflow: hidden;
	padding: 40px 0;
	background-color: #fff;
	display: flex;
	justify-content: center;
}
.sponsors-container{
	width: 80%;
	max-width: 1140px;
}
.sponsor-img{
height: 40px;
margin: 0 40px;
object-fit: contain;
opacity: 0.8;
transition: transform 0.3s ease, opacity 0.3s ease;
}
.sponsor-img:hover{
	transform: scale(1.1);
	opacity: 1;
}
/*Newsletter Section*/
.newsletter-section{
	padding: 100px 20px;
	text-align: center;
	background-color: rgb(223, 215, 249);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 24px 0px 0px 24px;
	margin: 0px 0px 0px 20px;
	box-shadow: 10px 10px 30px rgba(223, 215, 249, 1) ;
}
.newsletter-title{
	font-family: 'Poppins', serif;
	font-size: 33px;
	color: #5E6282;
	font-weight: 600;
	margin-bottom: 50px;
}
.newsletter-container{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.newsletter-input-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
}
.newsletter-input {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  width: 280px;
  font-size: 16px;
}
.newsletter-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ff7f50;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.newsletter-button:hover {
		background-color: #f56c3c;
	}